html {
  font-size: 18px;
}

body {
  width: 960px;
  font-family: "Helvetica" sans-serif;
}

header {
  background-color: black;
  color: white;
  height: 2.32rem;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
header span {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;

}

.splash {
  background-image: url("c://projects/secretagentsupply/resources/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.new {
  background-color: black;
  color: white;
  width: 20rem;
  height: auto;
  position: relative;
  top: 9rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.new h4 {
  font-size: 1rem;
  padding-top: 2rem;
}

.new h2 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

.new h4,
h2 {
  margin-left: 3rem;
}
