html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
}


header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66em 0 0.66em 0.5em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
  border-style: none;
}

.splash {
  background-image: url("c://projects/secretagentsupply/resources/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.new {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.new h2 {
  font-size: 2rem;
}

.new h4,
h2 {
  font-weight: bold;
}

nav {
  background-color: firebrick;
  color: white;
}

nav .container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  list-style: none;
  align-items: center;
}

nav .container-mobile {
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  list-style: none;
  align-items: center;
}

.body {
  background-color: white;
}

.items {
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-between;
}

.item1,
.item2,
.item3 {
  width: 30%;
}

.item-image {
  border: 4px solid black;
  padding-top: 2rem 0;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image img {
  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.contact {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.contactitem {
  width: 35%;
}

.title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 5rem;
  margin-top: 4em;
}


@media only screen and (max-width: 1023px) {
  .item1, .item2 {
    width: 47%;
  }
  .item3 {
    display: none;
  }
  .new h4 {
    font-size:.75rem;
  }
  .new h2 {
    font-size: 1.5rem;

  }
  nav .container {
    display: none;
  }

}

@media only screen and (min-width: 1024px) {
  nav .container-mobile {
    display:none;
  }
}

@media only screen and (max-width: 470px) {
  .item2 {
    display: none;
  }
  .item1 {
    width: 90%;
  }
  .items {
    justify-content: center;
  }
  footer {
    text-align: center;
    font-size: 0.5rem;
  }
 h4 {
    font-size: 0.77rem;
  }
  .new h2 {
    font-size: 1rem;
  }
  .new {
  }
}
